body {
    background-color: #272935;
    overflow-x: hidden;
}

.block {
    display: block;
    position: absolute;
}

#tbar {
    margin: 0px;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#content_box {
    margin: 0px;
    left: 0px;
}

#content {
    position:relative;
    border-radius: 10px;
    background: #EDEDED;
    padding: 20px;
}