html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #272935;
    overflow: hidden;
}

.block {
    display: block;
    position: absolute;
}

#tbar {
    top: 0px;
    left: 0px;
}

#content {
    margin: 0px;
}

#in_content {
    position:relative;
    border-radius: 10px;
    background: #EDEDED;
    width: 90%;
    height: 90%;
    margin: auto;
    top: 5%;
}